<nav>
  <ul>
    <li class="navitembox" [routerLink]="['']">
        <i class="fa fa-pencil" aria-hidden="true"></i><br />
        Blogs
    </li>
      
    <li class="navitembox" [routerLink]="['/code']">
          <i class="fa fa-code" aria-hidden="true"></i><br />
          Code
      </li>
      
      <!--<li class="navitembox" [routerLink]="['/about']">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i><br />
          About
      </li>-->

      <li class="navitembox" [routerLink]="['/twitter/timeline']">
          <i class="fa fa-twitter" aria-hidden="true"></i><br />
          @mwdanforth
      </li>
  </ul>
</nav>